* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
select {
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
}
select:focus-visible {
  outline: 0;
}
p {
  margin: 0;
}
.btn:focus-visible {
  box-shadow: none;
}
input{
  border: 2px solid black;
}
textarea{
  min-height: 43px;
  border: 2px solid black;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: darkblue;
}
.row {
  --bs-gutter-x: 0 !important;
}
.Toastify__toast-container {
  font-family: 'Kanit', serif !important;
}

.Toastify__toast {
  font-family: 'Kanit', serif !important;
  padding-right: 2rem !important;
  border: 1px solid #ccc !important;
}

